*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, ::before, ::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #E5E5E5;
  color: #757575;
  font-family: Roboto, sans-serif;
  position: relative;
}

a {
  text-decoration: none;
  color: #E5E5E5;
}

ul, li, a {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0 0;
}

h1, h2, h3, p {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
}

li {
  list-style-type: none;
  color: #212121;
}

a:hover, address:hover
li:focus, a:focus, address:focus {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-text-decoration-color: #2196F3;
          text-decoration-color: #2196F3;
}

.text {
  color: #757575;
}

.page {
  color: #212121;
  background-color: #E5E5E5;
}

.container {
  width: 450px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 738px;
    padding: 0 0;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 0;
    margin: 0 auto;
  }
}

body {
  margin: 0;
  background-color: #E5E5E5;
  color: #757575;
  font-family: Roboto, sans-serif;
  position: relative;
}

.page {
  color: #212121;
  background-color: #E5E5E5;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.page-header {
  background-color: #ffffff;
  border-bottom: 2px solid #ECECEC;
  justify-items: center;
  position: relative;
}

.page-header .main-nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.page-header .logo {
  margin-right: 284px;
  padding: 16px 0;
}

@media screen and (min-width: 768px) {
  .page-header .logo {
    margin-right: 88px;
    padding: 0 0;
  }
}

@media screen and (min-width: 1200px) {
  .page-header .logo {
    margin-right: 93px;
    padding: 0 0;
  }
}

.page-header .logo-web {
  color: #2196F3;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .page-header .logo-web {
    font-size: 26px;
  }
}

.page-header .logo-studio {
  color: #212121;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .page-header .logo-studio {
    font-size: 26px;
  }
}

.page-header__menu-button {
  color: #212121;
  margin-right: auto;
  padding: 0;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 22px;
  /* .icon-cross{
            display: none;
        }

        .is-open .icon-cross{
            display: block;
        }

        .is-open .icon-menu{
            display: none;
        }

        @media screen and  (min-width: $tablet){
            display: none;
        }
 
        @media screen and  (min-width: $desktop){
             display: none;
        }*/
}

.page-header__menu-icon {
  background-position: center;
  fill: currentColor;
  width: 24px;
  height: 16px;
}

.page-header__menu-icon:hover, .page-header__menu-icon:focus {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196F3;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .page-header__menu-icon {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__menu-icon {
    display: none;
  }
}

.page-header__site-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .page-header__site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    margin-right: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    margin-right: 270px;
  }
}

.page-header__site-nav-item {
  margin-right: 50px;
  padding: 32px 0;
  position: relative;
}

.page-header__site-nav-item ::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  opacity: 0;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  transition-property: transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__site-nav-item:last-child {
  margin-right: 0;
}

.page-header .current ::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  opacity: 0;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.page-header__site-nav-link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.page-header__site-nav-link:hover, .page-header__site-nav-link:focus {
  -webkit-transition-property: color;
  transition-property: color;
  color: #2196F3;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header .auth-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .page-header .auth-nav {
    display: block;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media screen and (min-width: 1200px) {
  .page-header .auth-nav {
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.page-header__auth-nav-address {
  padding: auto 0;
  color: #757575;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  fill: #757575;
}

.page-header__auth-nav-address:hover, .page-header__auth-nav-address:focus {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196F3;
  fill: #2196F3;
}

@media screen and (min-width: 768px) {
  .page-header__auth-nav-address:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__auth-nav-address {
    font-size: 14px;
  }
  .page-header__auth-nav-address:not(:last-child) {
    padding-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .page-header__mail:not(:last-child) {
    margin-bottom: 10px;
  }
}

.page-header .header-logo {
  margin: 0;
}

.page-header .header-logo:hover {
  fill: #2196F3;
}

@media screen and (min-width: 1200px) {
  .page-header .header-logo {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header .header-logo {
    margin-right: 10px;
  }
}

.h1-section {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 118px 0;
}

@media screen and (min-width: 1200px) {
  .h1-section {
    padding: 200px 0;
  }
}

.h1-section__title {
  display: block;
  width: 360px;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .h1-section__title {
    width: 696px;
    font-size: 44px;
  }
}

.h1-section__button {
  background: #2196F3;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15);
          box-shadow: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-top: 30px;
  padding: 10px 32px;
}

.overlay {
  max-width: 480px;
  height: 400px;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 0 auto;
  margin: 0 auto;
  position: relative;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-mobile@1x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile@1x.jpg);
}

@media screen and (min-width: 768px) {
  .overlay {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    height: 600px;
    max-width: 1600px;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-mobile@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile@2x.jpg);
  }
}

@media (min-width: 768px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-tablet@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet@1x.jpg);
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-tablet@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet@2x.jpg);
  }
}

@media (min-width: 1200px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-desktop@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desktop@1x.jpg);
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-desktop@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desktop@2x.jpg);
  }
}

.features {
  background-color: #ffffff;
  padding-top: 60px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1200px) {
  .features__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
    margin-bottom: 0;
  }
}

.features__icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features .features-item__icon {
  margin: 25px 100px;
  background-size: contain;
  background-position: center;
}

.features .features-item__title {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  padding-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features .features-item__title {
    text-align: left;
  }
}

.what-are-we-doing {
  background-color: #ffffff;
  padding-top: 64px;
}

@media screen and (max-width: 1199px) {
  .what-are-we-doing {
    display: none;
  }
}

.what-are-we-doing .h2-title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  /*42px*/
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.what-are-we-doing .what-are-we-doing__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0px;
}

.what-are-we-doing .what-are-we-doing__item {
  width: calc((100% - 60px) / 3);
  position: relative;
  width: 370px;
  height: 294px;
}

.what-are-we-doing .what-are-we-doing__item:nth-child(3n) {
  margin-right: 0;
}

.what-are-we-doing .thumb {
  position: absolute;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
}

.what-are-we-doing .thumb h3 {
  padding: 27px 0;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.our-team {
  background: #F5F4FA;
  padding-bottom: 94px;
  padding-top: 94px;
}

.our-team .h2-title {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  .our-team .h2-title {
    font-size: 36px;
  }
}

@media screen and (min-width: 768px) {
  .our-team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px -1px) {
  .our-team__list {
    margin-top: -30px;
  }
}

.our-team__item {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .our-team__item {
    width: calc((100% - 30px) / 2);
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team__item {
    width: calc((100% - 90px) / 4);
  }
}

.our-team__photo {
  width: 100%;
  display: block;
  height: auto;
}

.our-team__name {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 30px;
  text-align: center;
}

.our-team .text {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 10px;
}

.our-team__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  padding-left: 0px;
}

.our-team .social-items:not(:last-child) {
  margin-right: 10px;
}

.our-team .master-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #AFB1B8;
}

.our-team .master-links:hover, .our-team .master-links:focus {
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #2196F3;
  fill: #ffffff;
}

.our-team .master-icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio {
  background-color: #ffffff;
  margin: 0 auto;
}

.portfolio .portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 0;
  margin: -15px;
}

.portfolio .portfolio__item {
  display: block;
  background-color: #ffffff;
  border: 1px solid #EEEEEE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc((100% - 60px) / 3);
  width: 100%;
  margin-right: 30px;
  margin-top: 30px;
  margin: 15px;
}

.portfolio .portfolio__list img {
  display: block;
  max-width: 100%;
  height: auto;
}

.portfolio .project__item {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}

.portfolio .portfolio__photo-container {
  position: relative;
  overflow: hidden;
}

.portfolio .portfolio__thumb {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: #2196F3;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .portfolio__link {
  display: block;
  width: 100%;
  margin: 0;
}

.portfolio .portfolio__link:hover .portfolio__thumb,
.portfolio .portfolio__link:focus .portfolio__thumb {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio .portfolio__link:hover, .portfolio .portfolio__link:focus {
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio p {
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}

.portfolio .project__item__text {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
  font-weight: normal;
}

.portfolio .project__item__name {
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  color: #212121;
}
/*# sourceMappingURL=main.css.map */