.overlay{
    background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4) 
    ),
    url(../images/hero.png);
    max-width:1600px;
    height: 600px;
    background-size: cover;
    background-position: center;
    text-align: center;
  
    max-width: 1600px;
    padding: 0 auto;
    margin: 0 auto;
    position: relative;
    text-align: center;
  }