.projects{
    font-family: Roboto;
    font-style: normal;
    background: #FFFFFF;
    padding-top: 94px;
    padding-bottom: 94px;

    .container{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    }

    .visually-hidden{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        border: 0;
        clip: rect(0 0 0 0);
    }

    .projects__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 0;
        margin-bottom: 50px;
        &:not(:last-child){
            padding-right: 8px;
        }
      }

    .projects__item-button{
        &:not(:last-child){
        padding-right: 8px;
        }  
    }

    .primary-button{
        background-color: $primary-bg-color;
        color: $main-text-color;
        border-radius: 4px;
        font-family: $main-font-family;
        font-weight: $normal-font-weight;
        font-size: $button-font-size;
        line-height: $primary-button-lh;
        text-align: center;
        letter-spacing: 0.03em;
        border-color:inherit;
        padding: 6px 22px;
        cursor: pointer;
        border-radius: 4px;
        border-color: transparent;
        &:hover, &:focus{
            transition-property: background-color;
            transition-duration: $animation-duration;
            transition-timing-function: $animation-timing-function;
            background-color: $blue-bg-color;
            color: $white;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }
    }

    .button{
        &:hover, &:focus{
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }
    }
}
