.projects{
    font-family: $main-font-family
    font-style: normal;
    background: $white;
    padding-top: 94px;
    padding-bottom: 94px;

    .container{
        @media screen and (min-width: $tablet) {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: row;
        }
    }
    
}
