.container{
    width: 450px;
    padding: 0 15px;
    margin: 0 auto;

    @media (min-width: $tablet){
        width: 738px;
        padding: 0 15px;
        margin: 0 auto;
    }

    @media (min-width: $desktop){
        width: 1200px;
        padding: 0 15px;
        margin: 0 auto;
    }



}

body {
    margin: 0;
    background-color: $main-bg-color;
    color: $primary-text-color;
    font-family: $main-font-family;
    position: relative;
}

.page{
    color: $main-text-color;
    background-color: $main-bg-color;
}