.customers{
    background-color: $white;
    padding-bottom: 94px;
    padding-top: 94px;

    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        @media screen and (max-width: $desktop) {
        margin-top: -30px;
        }

    }

    &__item{
        display: flex;
        height: 90px;
        width: calc((100% - 30px) / 2);
        border: 1px solid #AFB1B8;
        color: $link-color;
        box-sizing: border-box;
        border-radius: 4px;

        @media screen and (min-width: $tablet) {
        width: calc((100% - 60px) / 3);
        }
      
        @media screen and (min-width: $desktop) {
        width: calc((100% - 150px) / 6);
        margin-top: 30px;
        }

        &:focus, &:hover{
            cursor: pointer;
            transition-property: color;
            transition-duration: $animation-duration;
            transition-timing-function: $animation-timing-function;
        
            color: $blue-bg-color;
            border: 1px solid $blue-bg-color;
            box-sizing: border-box;
            border-radius: 4px;
        }
    }

    .customers__icon{
        fill: currentColor;
        background-position: center;
    }

}