.features{
    background-color: $white;
    padding-top: 60px auto;
    font-family: $main-font-family;
    font-size: $main-font-size;
    line-height: $features-text-lh;

    @media (min-width: $desktop){
        padding: 94px auto;
    }


    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        @media (min-width: $tablet){
            
        }
    }

    &__item{
        display: block;
        justify-content: space-around;

        @media (min-width: $desktop){
            display: inline-block;
            padding: 94px auto;
        }
    }
}