.footer{
    background: $footer-bg-color;
    padding: 60px 0;
    text-align: center;

    @media screen and (min-width: $desktop){
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
    
    &__main{
        @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: space-between;
        }
    }
    
    &__address-container{
        @media screen and (min-width: $tablet) {
        text-align: center;
        }

        @media screen and (min-width: $desktop) {
        margin-right: 70px;
        }
    }

    &__join-us-container{
        margin-bottom: 60px;
        
    }

    &__subscribe{   
        @media screen and (min-width: $desktop){
        padding-left: 93px;
    }
    }
    

    &__address-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding-left: 0;
        justify-content: center;

        @media screen and (min-width: $desktop){
        align-items: flex-start;
        margin-left: 0;
        }
    }

    &__address_item{
        display: inline-block;
        margin-bottom: 9px;


    }

    .address{
        font-family: $main-font-family;
        font-style: normal;
        font-size: $main-font-size;
        line-height: $contacts-lh;
        color: $white;
    }

    .web-footer{
        color: $blue-bg-color;
        font-family: $primary-font-family;
        font-weight: $bold-font-weight;
        font-size: $logo-mobile-font-size;
        line-height: $logo-mobile-lh;
        letter-spacing: 0.03em;

        @media screen and (min-width: $desktop) {
            font-size: $logo-font-size;
            line-height: $logo-lh;
        }
    }

    .studio-footer {
        color: $white;
        font-family: $primary-font-family;
        font-weight: $bold-font-weight;
        font-size: $logo-mobile-font-size;
        line-height: $logo-mobile-lh;
        letter-spacing: 0.03em;

        @media screen and (min-width: $desktop) {
            font-size: $logo-font-size;
            line-height: $logo-lh;
        }
    }

    .email-footer{
        font-family: $main-font-family;
        font-size: $main-font-size;
        line-height: $contacts-lh;
        letter-spacing: 0.03em;
        color: $footer-contact-color;
    }

    .phone-number-footer{
        font-family: $main-font-family;
        font-size: $main-font-size;
        line-height: $contacts-lh;
        letter-spacing: 0.03em;
        color: $footer-contact-color;
    }

    .address{
        font-family: $main-font-family;
        font-style: normal;
        font-size: $main-font-size;
        line-height: $contacts-lh;
        color: $white;
        margin-top: 20px;
    }


    .footer__heading{
        text-align: center;
        margin-bottom: 20px;
        font-family: $main-font-family;
        font-weight: $bold-font-weight;
        font-size: $main-font-size;
        line-height: $h3-lh;
        text-transform: uppercase;
        color: $white;
        //padding-top: 10px;

        @media screen and (min-width: $desktop) {
        text-align: left;
        }
    }

    .footer-links{
        background-color:  rgba(255, 255, 255, 0.1);
        fill: $white;
    } 

    .join-us__list{
        display: inline-flex;
    }

    .social-items{
        flex-direction: row;

        &:not(:last-child){
            margin-right: 10px;
        }
    }

    .master-links{
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        fill: $link-color;
      
      &:focus,&:hover{
        transition-property: background-color;
        transition-duration: $animation-duration;
        transition-timing-function: $animation-timing-function;
      
        background-color: $blue-bg-color;
        fill: $white;
      }
    }
      
    .master-icon{
        justify-content: center;
        align-items: center;
    }
      
    .footer__form{
        display: block;
        
        @media screen and (min-width: $desktop) {
        align-items: left;
        }
    }

    .footer__form-input{
        width: 358px;
        height: 50px;
        margin: 0;
        padding: 15px auto;
        padding-left: 16px;
        padding-right: 12px;
        font-size: 16px;
        background-color: #2F303A;
        color: rgba(255, 255, 255, 0.6);
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.3);

        &:focus{
            outline: none;
            border: 1px solid $blue-bg-color;
        }
    }

    .button-subscribe{
        width: 200px;
        height: 50px;
        display: flex;
        text-align: center;
        padding: 10px 28px;  
        margin-left: 12px;
        background-color:$blue-bg-color;
        border-radius: 4px;
        box-shadow: $shadow-main-color;
        cursor: pointer;
        border-color: transparent;
        color: #ffffff;
        fill: #FFFFFF;
        font-family: Roboto;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.87;
    }

    p{
        margin-right: 10px;
    }
}