.page-header{
    background-color: $white;
    border-bottom: 2px solid $border-header-color;
    justify-items: center;

    .main-nav{
        display: inline-flex;
        align-items: center;
    }

    .logo{
       margin-right: 284px;
       padding: 16px 0;

       @media (min-width: $tablet){
           margin-right: 88px;
           padding: 0 0;
       }

       @media (min-width: $desktop){
            margin-right: 93px;
            padding: 0 0;
       }

    }

    .logo-web{
        color: $blue-bg-color;
        font-family: $primary-font-family;
        font-weight: $bold-font-weight;
        font-size: $logo-mobile-font-size;
        line-height: $logo-lh;
        letter-spacing: 0.03em;

        @media (min-width: $desktop){
            font-size: $logo-font-size;
        }


    }

    .logo-studio{
        color: $main-text-color;
        font-family: $primary-font-family;
        font-weight: $bold-font-weight;
        font-size: $logo-mobile-font-size;
        line-height: $logo-lh;
        letter-spacing: 0.03em;

        @media (min-width: $desktop){
            font-size: $logo-font-size;
        }
    }

    //?????
    .page-header__menu{
        color: $menu-icon-color;
    }

    .page-header__menu-icon{
        background-position: center;
        fill: currentColor;
        width: 24px;
        height: 16px;

        &:hover, &:focus{
        transition-property: color;
        transition-duration: $animation-duration;
        transition-timing-function: $animation-timing-function;
        color: $blue-bg-color;
        cursor: pointer;
        }

        @media (min-width: $tablet){
            display: none;
        }
 
        @media (min-width: $desktop){
             display: none;
        }
        
    }


    .page-header__site-nav{
       display: none;

       @media (min-width: $tablet){
        display: flex;
        font-family: $main-font-family;
        font-style: normal;
        font-weight: $normal-font-weight;
        font-size: $main-font-size;
        line-height: $header-link-lh;
        margin-right: 84px;
        }

        @media (min-width: $desktop){
        display: flex;
        font-family: $main-font-family;
        font-style: normal;
        font-weight: $normal-font-weight;
        font-size: $main-font-size;
        line-height: $header-link-lh;
        margin-right: 270px;
        }
    }

    .page-header__site-nav-item{
        margin-right: 50px;
        padding: 32px 0;
        position: relative;

        ::after{
            content: "";
            display: inline-block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: $blue-bg-color;
            opacity: 0;
            transition-property: transform;
            transform: scaleX(0);
            transition-property: transform;
            transition-duration: $animation-duration;
            transition-timing-function: $animation-timing-function;
        }
        
        &:last-child{
            margin-right: 0;
        }

        }

    .current{
        ::after{
            content: "";
            display: inline-block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: $blue-bg-color;
            opacity: 0;
            transition-property: transform;
            transform: scaleX(0);
        }
    }

    .page-header__site-nav-link{
        color: $main-text-color;
        font-weight: $normal-font-weight;
        font-size: $main-font-size;
        line-height: $header-link-lh;
        letter-spacing: 0.02em;

        &:hover, &:focus{
            transition-property: color;
            color:$blue-bg-color;
            transition-duration: $animation-duration;
            transition-timing-function: $animation-timing-function;
        }
        
    }

    .auth-nav{
        display: none;

        @media (min-width: $tablet){
        display: inline-flex;
        flex-direction: column;
        justify-content: start;
        }

        @media (min-width: $desktop){
        display: block;
        flex-direction: row;
        align-items: center;
        align-items: center;
        justify-content: center;
        }
    }

    .page-header__auth-nav-address{
        padding: auto 0;
        
        color: $primary-text-color;
        font-family: $main-font-family;
        font-weight: $normal-font-weight;
        font-size: $main-tablet-font-size;
        line-height: $header-link-lh;
        letter-spacing: 0.02em;
        fill: $primary-text-color; 
        

        &:hover, &:focus{
            transition-property: color;
            transition-duration: $animation-duration;
            transition-timing-function: $animation-timing-function;
            color:$blue-bg-color;
            fill:$blue-bg-color;
            }
            
        @media (min-width: $tablet){
            &:not(:last-child){
            padding-bottom: 10px;
            }
        }  

        @media (min-width: $desktop){
            font-size: $main-font-size;
        
        &:not(:last-child){
                padding-right: 50px;
            }
        }
        
    }

    .header-logo{
        margin: 0;
        &:hover{
            fill: $blue-bg-color;
        }

        @media (min-width: $desktop){
            margin-right: 8px;
            }
    
            @media (min-width: $desktop){
            margin-right: 10px;
            }
       
    }

}