.page-header{
    background-color: #666565; //$white;


    .main-nav{
        display: flex;
        align-items: center;
    }

    .logo{
       margin-right: 284px;

       @media (min-width: $tablet){
           margin-right: 88px;
       }

       @media (min-width: $desktop){
            margin-right: 93px;
       }

    }

    .logo-web{

    }

    .logo-studio{

    }

    .page-header__menu-icon{
        background-position: center;
        fill: $menu-icon-color;

        &:hover, &:focus{
        transition-property: color;
        transition-duration: $animation-duration;
        transition-timing-function: $animation-timing-function;
        color: $blue-bg-color;

        @media (min-width: $tablet){
            display: none;
        }
 
        @media (min-width: $desktop){
             display: none;
        }
        }
    }


    .page-header__site-nav{
       display: none;

       @media (min-width: $tablet){
        display: flex;
        font-family: $main-font-family;
        font-style: normal;
        font-weight: $normal-font-weight;
        font-size: $main-font-size;
        line-height: $header-link-lh;
        margin-right: 84px;

        /*&:hover, &:focus{
            transition-property: color;
            transition-duration: $animation-duration;
            transition-timing-function: $animation-timing-function;
            color: $blue-bg-color;
            }*/
        }

        @media (min-width: $desktop){
        display: flex;
        font-family: $main-font-family;
        font-style: normal;
        font-weight: $normal-font-weight;
        font-size: $main-font-size;
        line-height: $header-link-lh;
        margin-right: 84px;

       /* &:hover, &:focus{
            transition-property: color;
            transition-duration: $animation-duration;
            transition-timing-function: $animation-timing-function;
            color: $blue-bg-color;
            }*/
        }
    }

    .auth-nav{
        display: none;

        @media (min-width: $desktop){
        display: inline-flex;
        flex-direction: column;
        }

        @media (min-width: $desktop){
        display: inline-flex;
        flex-direction: column;
        }
    }

}