// colors
$main-text-color:#212121;
$main-bg-color:#E5E5E5;
$primary-bg-color:#F5F4FA;
$blue-bg-color:#2196F3;
$border-header-color:#ECECEC;
$primary-text-color:#757575;
$h1-bg-color:#C4C4C4;
$shadow-main-color:  rgba(0, 0, 0, 0.15);
$footer-contact-color:  rgba(255, 255, 255, 0.6);
$white: #ffffff;
$link-color:#AFB1B8;
$footer-bg-color: #2F303A;

// text properties
$main-font-family: Roboto, sans-serif;
$primary-font-family: Raleway;

$normal-font-weight: 500;
$bold-font-weight: 700;
$h1-font-weight: 900;

$main-font-size: 14px;
$logo-font-size:26px;
$h1-font-size: 44px;
$h2-font-size: 36px;
$names-font-size: 16px;
$button-font-size: 16px;
$thumb-font-size: 18px;

$logo-lh: 1.19;
$header-link-lh: 1.14;
$h1-lh: 1.36;
$h2-lh: 1.16;
$h3-lh: 1.14;
$h1-button-lh: 1.87;
$features-text-lh: 1.71;
$features-title-lh: 1.14;
$team-names-lh: 1.18;
$contacts-lh: 1.71;
$primary-button-lh: 1.62;
$thumb-text-lh: 1.56;
$project-name-lh: 2;
$text-agreement-lh: 0.6;
$form-button-lh: 0.53;

// Borders
$form-border: 1px solid rgba(33, 33, 33, 0.2);
 
// Animation
$animation-duration: 250ms ;
$animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


// Paddings & margins
$container-padding: 15px;
